.article
    margin-top: $spacing-default

    &__headline
        letter-spacing: $spacing-extra-small

        &.-main
            @include text-shadow-medium
            color: $color-base
            text-align: center
            font-size: $font-large